.navbar{
    border-bottom: 0.5px solid black;
}
.NavLeftBtn{
    width: 30%;
    height: 27px;
    margin-left: 250px;
}

.NavLeftBtn .ActivePage{
    color:rgb(25, 77, 233);
    font-weight: bold;
    border-bottom: 3px solid rgb(25, 77, 233);
}

.Hover:hover{
    background-color: rgba($color: #808080, $alpha: 0.1);
}

.NavRightBtn a:hover{
    background-color: rgba($color: #808080, $alpha: 0.1);
}

.MainContent{
    margin-left: 250px;
}

.heading h1{
    font-size: 50px;
}

.headingRight{
    margin-left: 20px;
}

.mainBtn{
    margin-left: 265px;
    margin-top: 50px;
}

.ActBtn{
    color: rgb(25, 77, 233);
    font-size: small;
    font-weight: bold;
    margin-right: 5px;
    text-decoration: none;
}

.ActBtn2{
    color: black;
    background-color: rgba($color: #808080, $alpha: 0.1);
    font-size: small;
    margin: 5px;
    text-decoration: none;
}

.ActBtn2:hover{
    color: rgb(25, 77, 233);
    text-decoration: underline;
}

.searchSection{
    margin-left: 265px;
}

.SearchInp{
    width: 300px;
    border: none;
}

.DateInp{
    width: 120px;
    margin-left: 15px;
    border: none;
}

.Guest{
    width: 120px;
    border: none;
    margin-left: 15px;
}

.searchBtn{
    padding: 5px 50px;
}

.quote{
    margin-left: 250px;
}

.compare{
    width: 870px;
    margin-left: 265px;
}

.compText{
    text-decoration: none;
    font-size: small;
}

.quote2{
    margin-left: 240px;
    margin-top: 200px;
}

.HotelBtn{
    margin-left: 240px;
}
.btn-1{
    color: rgb(25, 77, 233);
    font-weight: bold;
    text-decoration: none;
    border-bottom: 3px solid rgb(25, 77, 233);
}

.btn-2{
    color: grey;
    font-weight: bold;
    text-decoration: none;
}

.btn-1:hover{
    color: black;
}

.btn-2:hover{
    color: black;
}